{% include 'partials/another_header.html' %}

      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Let's start the Quiz</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Please Login to get started, if you dont have an account sign up. <br> Each question will have 10 points if answered correctly, Your points will be updated on the leaderboard when the quiz is finished.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/login"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" style="margin-right:10px;">Log in!</button></a>
            <a href="/signup"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Sign up!</button></a>
          </div>
        </div>
      </div>
        
       

      <script src="static/script.js"></script>
</body>
</html>