{% include 'partials/header.html' %}

      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Thank you for playing</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Your Score = {{score}}</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/question"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" style="margin-right:10px;">Play again</button></a>
            <a href="/leaderboard"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Leaderboard</button></a>
          </div>
        </div>
      </div>
        
       

      <script src="static/script.js"></script>
</body>
</html>